@use "../abstracts/respond-to.scss" as *;
@use "../abstracts/props.scss";

/// Offcanvas Navigation
/// @see `template-parts/navigation-offcanvas.php` for the markup
.offcanvas-navigation {
	header{
		text-align: right;
	}
	.menu-toggle,
	.menu-close {
		appearance: none;
		background-color: transparent;
		border: none;
		padding: calc( props.preset("spacing", "30") / 2 );
		cursor: pointer;
		@include respond-to('md') {
			display: none;
		}
	}

	.menu {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		list-style-type: none;
		padding-left: 0;
		li {
			a {
				display: inline-block;
				padding: calc( props.preset("spacing", "30") / 2 );
				text-align: right;
			}
		}
		@include respond-to('md') {
			flex-direction: row;
			li {
				margin-left: props.preset("spacing", "30");
				a {
					padding: 0;
					text-align: left;
				}
			}
		}
	}

	.menu-modal {
		bottom: 0;
		display: none;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		background-color: props.preset("color", "background");
		padding: props.preset("spacing", "40") 0;
		&.is-open {
			display: block;
		}
		@include respond-to('md') {
			display: block;
			position: relative;
			background-color: transparent;
			padding: 0;
			header {
				display: none;
			}
		}
	}
}
/// Fix for the admin bar for the offcanvas navigation
body.admin-bar {
	.offcanvas-navigation .menu-modal {
		top: 46px;
		@include respond-to('md') {
			top: 0px;
		}
	}
}


/// Accessible Submenu for the tangent\navwalker
/// @see `inc/class-tangent-navwalker.php` for the markup
.has-accessible-submenu {
	.sub-menu {
		list-style-type: none;
		display:flex;
		flex-direction: column;
		align-items: flex-end;
		padding-left: 0;
		padding-right: props.preset("spacing", "30");
		li {
			margin-left: 0;
			a {
				padding: calc( props.preset("spacing", "30") / 2);
			}
		}
		@include respond-to('md') {
			display: none;
			position: absolute;
			z-index: 2;
			top:100%;
			right:0;
			min-width: 200px;
			padding-left: 0;
			background-color: props.preset("color", "background");
			border: 1px solid props.preset("color", "secondary");
			li {
				a {
					padding: calc( props.preset("spacing", "30") / 4);
				}
			}
		}
	}
	.menu-item-has-children {
		.sub-menu-toggle{
			appearance: none;
			background-color: transparent;
			border: none;
			cursor: pointer;
			display: none;
			svg {
				width: 1rem;
				height: 1rem;
				stroke: props.preset("color", "secondary");
			}
			@include respond-to('md') {
				display: inline-block;
				&[aria-expanded="true"] ~ .sub-menu{
					display: block;
				}
			}
		}

		&:hover {
			@include respond-to('md') {
				.sub-menu {
					display: block;
				}
			}
		}
	}
}