@use "../utils";
@use "../utils/container.scss" as *;

.navigation.pagination {
	@extend .container-wide;
	@include utils.padding;
	.nav-links {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: utils.style("block-gap");
	}
	.prev,
	.next {
		border: 2px solid utils.preset("color", "accent");
		border-radius: utils.custom('border', 'radius');
		padding: 0.2em 1em;
		text-decoration: none;
		background-color: utils.preset("color", "accent");
		transition: 0.3s ease all;
		color: utils.preset("color", "background");
		&:hover {
			border: 2px solid utils.preset("color", "secondary");
			background-color: utils.preset("color", "secondary");
		}
	}
}
