@use "../abstracts";
@use "../utilities/container.scss" as *;

.navigation.pagination {
	@extend .container-wide;
	@include abstracts.padding;
	.nav-links {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: abstracts.style("block-gap");
	}
	.prev,
	.next {
		border: 2px solid abstracts.preset("color", "accent");
		border-radius: abstracts.custom('border', 'radius');
		padding: 0.2em 1em;
		text-decoration: none;
		background-color: abstracts.preset("color", "accent");
		transition: 0.3s ease all;
		color: abstracts.preset("color", "background");
		&:hover {
			border: 2px solid abstracts.preset("color", "secondary");
			background-color: abstracts.preset("color", "secondary");
		}
	}
}
