@use "props" as *;
@use "mixins" as *;
@use "flow.scss" as *;

.container {
	max-width: custom("content-sizes", "default");
	@include margin-x(auto);
}

.container-wide {
	max-width: custom("content-sizes", "wide");
	@include margin-x(auto);
}

.container-full {
	max-width: custom("content-sizes", "full");
	@include margin-x(auto);
}

.blocks-alignment {
	@extend .flow;
	padding-right: style("root", "padding-right");
	padding-left: style("root", "padding-left");
	& > *, .is-layout-flow > * {
		@include margin-x(auto);
		max-width: custom("content-sizes", "default");
		&:where(.alignfull) {
			margin-right: calc( var(--wp--style--root--padding-right) * -1 );
			margin-left: calc( var(--wp--style--root--padding-left) * -1 );
			max-width: calc( 100% + var(--wp--style--root--padding-right) + var(--wp--style--root--padding-left) );
		}
		&:where(.alignwide) {
			max-width: custom("content-sizes", "wide");
		}
		&:where(.alignleft) {
			margin-left: 0;
			float: left;
			margin-right: style("block-gap");
		}
		&:where(.alignright) {
			margin-right: 0;
			float: right;
			margin-left: style("block-gap");
		}
	}
	.is-layout-flow > * {
		padding-right: style("root", "padding-right");
		padding-left: style("root", "padding-left");
	}
}