@use "props" as *;

/// Size an element
@mixin size($width, $height: $width) {
	width: $width;
	height: $height;
}

/// Add left/right padding to an element
@mixin padding(
	$top: utils.ref("style.root.paddingTop"),
	$left: utils.ref("style.root.paddingLeft"),
	$bottom: utils.ref("style.root.paddingBottom"),
	$right: utils.ref("style.root.paddingRight")
) {
	padding: $top $right $bottom $left;
}

/// Add top/bottom padding to an element
@mixin margin-y($top, $bottom: $top) {
	padding-top: $top;
	padding-bottom: $bottom;
}

/// Add left/right margin to an element
@mixin margin-x($left, $right: $left) {
	margin-left: $left;
	margin-right: $right;
}

/// Add top/bottom margin to an element
@mixin margin-y($top, $bottom: $top) {
	margin-top: $top;
	margin-bottom: $bottom;
}

/// Set font size, line height, and letter spacing
@mixin font-size($font-size, $line-height: normal, $letter-spacing: normal) {
	font-size: $font-size;
	line-height: $line-height;
	letter-spacing: $letter-spacing;
}

/// Simple fade-in animation
@mixin fade($type: "hide") {
	@if $type == "hide" {
		visibility: hidden;
		opacity: 0;
		transition: visibility 1s, opacity 1s;
	} @else if $type == "show" {
		visibility: visible;
		opacity: 1;
		transition: visibility 1s, opacity 1s;
	}
}
