@use "../abstracts/mixins.scss";
@use "../abstracts/props.scss";

.container {
	max-width: props.custom("content-sizes", "default");
	@include mixins.margin-x(auto);
}

.container-wide {
	max-width: props.custom("content-sizes", "wide");
	@include mixins.margin-x(auto);
}

.container-full {
	max-width: props.custom("content-sizes", "full");
	@include mixins.margin-x(auto);
}