@use "../abstracts/props.scss";

input, textarea {
	transition: props.custom("effects", "transition");
	border-radius: props.custom("border", "radius");
	border-color: props.custom("border", "color");
	border-style: props.custom("border", "style");
	border-width: props.custom("border", "width");
	&:focus {
		outline: props.custom("forms", "focus--outline");
		border-radius: props.custom("border--focus", "radius");
		border-color: props.custom("border--focus", "color");
		border-style: props.custom("border--focus", "style");
		border-width: props.custom("border--focus", "width");
	}
}

input[type="checkbox"], input[type="radio"] {
	accent-color: props.preset("color", "foreground");
}