@use "../utilities/flow.scss" as *;
@use "../abstracts/mixins.scss";
@use "../abstracts/properties.scss";
#primary {
	.entry-header {
		text-align: center;
	}
	& > article {
		@include mixins.margin-x(auto);
	}
	.entry-content {
		& > * {
			@include mixins.margin-x(auto);
		}
		& > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
			max-width: properties.custom("content-sizes", "default");
		}
		& > :where(.alignwide) {
			max-width: properties.custom("content-sizes", "wide");
		}
	}
	.entry-content {
		@extend .flow;
	}
	.entry-footer {
		padding: properties.preset("spacing", "40");
		.edit-link {
			display: block;
			text-align: center;
		}
	}
}