@use "../utilities/flow.scss" as *;
@use "../abstracts/mixins.scss";
@use "../abstracts/props.scss";

#primary {
	.entry-header {
		text-align: center;
		padding: props.style("root", "padding-top") props.style("root", "padding-left") props.style("root", "padding-bottom") props.style("root", "padding-right");
	}
	& > article {
		@include mixins.margin-x(auto);
	}
	.entry-content {
		& > * {
			@include mixins.margin-x(auto);
			padding-right: props.style("root", "padding-right");
			padding-left: props.style("root", "padding-left");
		}
		& > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
			max-width: props.custom("content-sizes", "default");
		}
		& > :where(.alignwide) {
			max-width: props.custom("content-sizes", "wide");
		}
	}
	.entry-content {
		@extend .flow;
	}
	.entry-footer {
		padding: props.style("root", "padding-top") props.style("root", "padding-left") props.style("root", "padding-bottom") props.style("root", "padding-right");
		.edit-link {
			display: block;
			text-align: center;
		}
	}
}