@use "../utils/flow.scss" as *;
@use "../utils/container.scss" as *;
@use "../utils";

#primary {
	.entry-header {
		text-align: center;
		@include utils.padding;
		@extend .flow;
	}
	& > article {
		@include utils.margin-x(auto);
	}
	.post-thumbnail {
		& > * {
			@include utils.padding;
			@include utils.margin-x(auto);
		}
	}
	.entry-content {
		@extend .blocks-alignment;
	}
	.entry-summary{
		@extend .flow;
		@extend .blocks-alignment;
	}
	.entry-footer {
		@extend .container-wide;
		@include utils.padding;
		display:flex;
		flex-direction: column;
		.edit-link {
			display: block;
			text-align: center;
		}
	}
	.post-navigation {
		@extend .container-wide;
		@include utils.padding;
		.nav-links{
			display: flex;
			justify-content: space-between;
		}
	}
}

.block-editor-block-list__layout.is-root-container {
	@extend .blocks-alignment;
}