@use "../utilities/container.scss" as *;
@use "../abstracts/properties.scss";
#colophon {
	display: flex;
	justify-content: space-between;
	padding: properties.preset("spacing", "40") 0;
	@extend .wrapper;
}