@use "../utilities/container.scss" as *;
@use "../abstracts/props.scss";
#colophon {
	display: flex;
	justify-content: space-between;
	padding: props.style("root", "padding-top") props.style("root", "padding-left") props.style("root", "padding-bottom") props.style("root", "padding-right");
	@extend .wrapper;
}