@use "../utils";
@use "../utils/container.scss" as *;

body.has-sidebar {
	#page {
		@extend .container-wide;
		display: grid;
		grid-template-areas:
			"header"
			"content"
			"sidebar"
			"footer";
		@include utils.breakpoint(lg) {
			grid-template-areas:
				"header header header header"
				"content content content sidebar"
				"footer footer footer footer";
		}
		@include utils.padding(
			0,
			utils.ref("style.root.paddingRight"),
			0,
			utils.ref("style.root.paddingLeft")
		);
		gap: utils.ref("style.blockGap");
		#masthead {
			grid-area: header;
		}
		#primary {
			grid-area: content;
		}
		#secondary {
			grid-area: sidebar;
		}
		#colophon {
			grid-area: footer;
		}
	}
}
