@use "../abstracts";
@use "../utilities/container.scss" as *;

body.has-sidebar {
	#page {
		@extend .container-wide;
		display: grid;
		grid-template-areas:
		"header"
		"content"
		"sidebar"
		"footer";
		@include abstracts.breakpoint(lg) {
			grid-template-areas:
			"header header header header"
			"content content content sidebar"
			"footer footer footer footer";
		 }
		@include abstracts.padding( 0, abstracts.style("root", "padding-left"), 0, abstracts.style("root", "padding-right"));
		gap: abstracts.style("block-gap");
		#masthead {
			grid-area: header;
		}
		#primary {
			grid-area: content;
		}
		#secondary {
			grid-area: sidebar;
		}
		#colophon {
			grid-area: footer;
		}
	}
}