@use "../utilities/container.scss" as *;
@use "../abstracts/mixins.scss" as *;

#masthead {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: var(--wp--preset--spacing--40) 0;
	@extend .wrapper;

	.site-title{
		font-size: var(--wp--custom--fontsizes--h-3--size);
	}

	.custom-logo-link img {
		max-height: 3rem;
		width: auto;
	}
}



.main-navigation {

	.menu-toggle,
	.menu-close {
		appearance: none;
		background-color: transparent;
		border: none;
		padding: calc( var(--wp--preset--spacing--40) / 2 );
		cursor: pointer;
		@include respond-to('pond') {
			display: none;
		}
	}

	.menu {
		display: flex;
		flex-direction: column;
		list-style-type: none;
		padding-left: 0;
		li {
			padding: calc( var(--wp--preset--spacing--40) / 2 );
		}
		@include respond-to('pond') {
			flex-direction: row;
			li {
				padding: 0;
				margin-left: var(--wp--preset--spacing--40);
			}
		}
	}

	.menu-modal {
		bottom: 0;
		display: none;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		background-color: var(--wp--preset--color--background);
		padding: var(--wp--preset--spacing--40) 0;
		&.is-open {
			display: block;
		}
		@include respond-to('pond') {
			display: block;
			position: relative;
			background-color: transparent;
			padding: 0;
			header {
				display: none;
			}
		}
	}
}


// Menu Icon
.menu-icon {
	position: relative;
	transition-duration: 0.5s;
	display: block;

	>span {
		position: relative;
		transition-duration: 0.5s;
		top: 0px;
		display: block;
		pointer-events: none;

		&:before {
			transition-duration: 0.5s;
			width: 20px;
			height: 2px;
			background-color: var(--wp--preset--color--foreground);
			content: "";
			top: 0px;
			display: block;
		}

		&:after {
			transition-duration: 0.5s;
			width: 20px;
			height: 2px;
			background-color: var(--wp--preset--color--foreground);
			content: "";
			margin-top: 7px;
			display: block;
		}
	}
}

.menu-close {
	.menu-icon > span{
		transition: 0.5s;

		&:before {
			transform: rotateZ(45deg) scaleX(1.25) translate(1px, 5px);
		}

		&:after {
			transform: rotateZ(-45deg) scaleX(1.25) translate(1px, -5px);
		}
	}
}


// Fix for the admin bar
body.admin-bar {
	.main-navigation .menu-modal {
		top: 46px;
		@include respond-to('pond') {
			top: 0px;
		}
	}
}