@use "../abstracts/props.scss";
@use "../utilities/container.scss" as *;
@use "../abstracts/respond-to.scss" as *;
@use "../abstracts/mixins.scss";

#masthead {
	.container-wide {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		@include mixins.padding;

		.site-title{
			font-size: props.preset("font-sizes", "h-3");
		}

		.custom-logo-link img {
			max-height: 3rem;
			width: auto;
		}
	}

}

// Menu Icon
.menu-icon {
	position: relative;
	transition-duration: 0.5s;
	display: block;

	>span {
		position: relative;
		transition-duration: 0.5s;
		top: 0px;
		display: block;
		pointer-events: none;

		&:before {
			transition-duration: 0.5s;
			width: 20px;
			height: 2px;
			background-color: props.preset("color", "foreground");
			content: "";
			top: 0px;
			display: block;
		}

		&:after {
			transition-duration: 0.5s;
			width: 20px;
			height: 2px;
			background-color: props.preset("color", "foreground");
			content: "";
			margin-top: 7px;
			display: block;
		}
	}
}

.menu-close {
	.menu-icon > span{
		transition: props.custom("effects", "transition");

		&:before {
			transform: rotateZ(45deg) scaleX(1.25) translate(1px, 5px);
		}

		&:after {
			transform: rotateZ(-45deg) scaleX(1.25) translate(1px, -5px);
		}
	}
}
