@use "../utils";

#masthead {
	& > .container-wide {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		@include utils.padding;

		.site-title{
			font-size: utils.preset("font-sizes", "h-3");
		}

		.custom-logo-link img {
			max-height: 3rem;
			width: auto;
		}
	}
}